* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-rendering: optimizeLegibility;
	background: black url(../pictures/background_1.jpg) no-repeat bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body p {
	font-family: PlayfairDisplay-Bold;
	src: url(../fonts/PlayfairDisplay-Bold.otf);
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

/*.container {
	max-width: 1920px;
	margin: 0 auto;
	background-color: #fff;
}*/


header {
	width: 100%;
}

.heading-div {
	max-width: 1920px;
	display: flex;
	justify-content: flex-start;
}

.logo {
	display: flex;
	padding-top: 100px;
	padding-left: 15%;
	padding-right: 250px;
}

.logo img {
	width: 100px;
}

.nav-menu {
	display: flex;
	width: 450px;
	justify-content: space-between;
	padding-top: 193px;
}

.message {
	max-width: 1920px;
	display: flex;
	justify-content: flex-start;
	}

.message p {
	padding-top: 75px;
	padding-left: 15%;
	/*font-size: calc(43px + (100 - 43) * ((100vw - 600px) / (1920 - 600)));*/
	font-size: 95px;
	letter-spacing: 0.1em;
	font-weight: bold;
	line-height: 150%;
	text-align: left;
	color: black;
	font-family: PlayfairDisplay-Bold;
	
}		

.message p span {
	color: white;
}


.rectangle {
	max-width: 800px;
	margin-top: 50px;
	margin-left: 15%;
	display: flex;
	justify-content: flex-start;
}

.rectangle p {
	padding-top: 15px;
	background-color: white;
	height: 55px;
	width: 600px;
	font-size: 25px;
	letter-spacing: 0.05em;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: PlayfairDisplay-Bold;
}




@media screen and (max-width: 1280px) {

	body {
		background: black url(../pictures/background_2.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 800px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 100px;
		padding-right: 250px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 100px;
	}
	
	.nav-menu {
		display: flex;
		width: 450px;
		justify-content: space-between;
		padding-top: 193px;
	}
	
	.message {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		/*font-size: calc(43px + (100 - 43) * ((100vw - 600px) / (1920 - 600)));*/
		font-size: 94px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 75px;
		margin-bottom: 75px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 15px;
		background-color: white;
		height: 55px;
		width: 600px;
		font-size: 25px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}



}
/*
@media screen and (max-width: 1024px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 700px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 100px;
		padding-right: 150px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 100px;
	}
	
	.nav-menu {
		display: flex;
		width: 450px;
		justify-content: space-between;
		padding-top: 193px;
	}
	
	.message {
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		font-size: 82px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 700px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 15px;
		background-color: white;
		height: 55px;
		width: 700px;
		font-size: 25px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}



}

@media screen and (max-width: 768px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 600px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 100px;
		padding-right: 150px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 100px;
	}
	
	.nav-menu {
		display: flex;
		width: 450px;
		justify-content: space-between;
		padding-top: 193px;
	}
	
	.message {
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		font-size: 70px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 600px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 15px;
		background-color: white;
		height: 55px;
		width: 600px;
		font-size: 25px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}
}

@media screen and (max-width: 440px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 300px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 300px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 50px;
		padding-right: 0px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 75px;
	}
	
	.nav-menu {
		display: flex;
		width: 300px;
		justify-content: space-between;
		padding-top: 93px;
	}
	
	.message {
		max-width: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		font-size: 35px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 15px;
		background-color: white;
		height: 55px;
		width: 300px;
		font-size: 20px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}
	
}
*/

@media screen and (max-width: 1024px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 700px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 75px;
		padding-right: 0px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 100px;
	}
	
	.nav-menu {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-top: 75px;
	}
	
	.message {
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		font-size: 82px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 700px;
		margin: 0 auto;
		margin-top: 75px;
		margin-bottom: 75px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 15px;
		background-color: white;
		height: 55px;
		width: 700px;
		font-size: 25px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}



}

@media screen and (max-width: 768px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 450px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 450px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 50px;
		padding-right: 0%;
		padding-left: 0%;
	}
	
	.logo img {
		width: 75px;
	}
	
	.nav-menu {
		display: flex;
		width: 450px;
		justify-content: space-between;
		padding-top: 10%;
	}

	.nav-menu img {
		width: 45px;
	}
	
	.message {
		max-width: 450px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 75px;
		padding-left: 0%;
		font-size: 60px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		width: 450px;
		margin: 0 auto;		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 450px;
		margin: 0 auto;
		margin-top: 75px;
		margin-bottom: 75px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 13px;
		background-color: white;
		height: 55px;
		width: 450px;
		margin: 0 auto;
		font-size: 25px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}
}

@media screen and (max-width: 440px) {

	body {
		background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	header {
		width: 300px;
		margin: 0 auto;
	}

	.heading-div {
		max-width: 300px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.logo {
		display: flex;
		padding-top: 50px;
		padding-right: 0px;
		padding-left: 0%;
	}
	
	.logo img {
		width: 65px;
	}
	
	.nav-menu {
		display: flex;
		width: 300px;
		justify-content: space-between;
		padding-top: 50px;
	}
	
	.nav-menu img {
		width: 35px;
	}

	.message {
		max-width: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
	}
	
	.message p {
		padding-top: 50px;
		padding-left: 0%;
		font-size: 35px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 150%;
		text-align: left;
		color: black;
		font-family: PlayfairDisplay-Bold;
		
	}		
	
	.message p span {
		color: white;
	}
	
	
	.rectangle {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		justify-content: flex-start;
	}
	
	.rectangle p {
		padding-top: 6px;
		background-color: white;
		height: 35px;
		width: 300px;
		font-size: 18px;
		letter-spacing: 0.05em;
		font-weight: bold;
		text-align: center;
		color: black;
		font-family: PlayfairDisplay-Bold;
	}
	
	@media screen and (max-width: 320px) {

		body {
			background: black url(../pictures/background_5.jpg) no-repeat bottom fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	
		header {
			width: 200px;
			margin: 0 auto;
		}
	
		.heading-div {
			max-width: 200px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		
		.logo {
			display: flex;
			padding-top: 50px;
			padding-right: 0px;
			padding-left: 0%;
		}
		
		.logo img {
			width: 50px;
		}
		
		.nav-menu {
			display: flex;
			width: 200px;
			justify-content: space-between;
			padding-top: 50px;
		}
		
		.nav-menu img {
			width: 25px;
		}
	
		.message {
			max-width: 200px;
			margin: 0 auto;
			display: flex;
			justify-content: flex-start;
		}
		
		.message p {
			padding-top: 50px;
			padding-left: 0%;
			font-size: 40px;
			letter-spacing: 0.1em;
			font-weight: bold;
			line-height: 150%;
			text-align: left;
			color: black;
			font-family: PlayfairDisplay-Bold;
			
		}		
		
		.message p span {
			color: white;
		}
		
		
		.rectangle {
			max-width: 200px;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 50px;
			display: flex;
			justify-content: flex-start;
		}
		
		.rectangle p {
			padding-top: 5px;
			background-color: white;
			height: 25px;
			width: 200px;
			font-size: 14px;
			letter-spacing: 0.05em;
			font-weight: bold;
			text-align: center;
			color: black;
			font-family: PlayfairDisplay-Bold;
		}
	}
}